
body {
font-family: 'Arial', sans-serif;
  color: black;
  font-size: 30px;
  font-weight: bold;
  background-color: white;
  margin: 10;
  padding: 0;
  direction: rtl;
  text-align: center;
}

.controls {
  background-color: #060AFF; /*#157eed;*/
  padding: 3px;
  margin: 10px;
  max-width: 960px;
  /*max-height: 1500px;*/
  border-radius: 60px;
  box-shadow: 0 0 10px
  rgba(0,0,0,0.1);
  display: flex;
  font-family: arial;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.controls .form-group {
  display: flex;
  flex-direction:  column;
  /*align-items: flex-center;*/
  min-width: 170px;
  min-height: 10px;
}

.controls label {
  font-size: 14px;
  /*text-align: center;*/
  margin-bottom: 2px;
  color: white;
}

.controls input{
  display: flex;
  padding: 4px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  direction: ltr;
  text-align: center;
  /*align-content: center;*/
  font-size: 14px;
}

.controls select {
padding: 4px;
width: 100%;
border: 1px solid black;
border-radius: 10px;
text-align: center;
font-size: 14px;
}

.controls button {
  padding: 4px 10px;
  width: 50%;
  border: 1px solid white;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 1.3s;
}

.controls button:hover {
  background-color: #0056b3;
}

#card-container {
margin: 20px auto;
display: flex;
flex-direction: column;
align-items: center;
}

.page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
  margin-bottom: 10px;
  page-break-after: always;
}

.card-wrapper {
width: 185px;
height: 70px;
background-size: cover;
position: relative;
}

.card {
width: 100%;
height: 100%;
background-size: cover;
background-position: center;
position: relative;
border-radius: 10px;
overflow: hidden;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 1px;
page-break-inside: avoid;
}

.card .network-name{
font-size: 14px;
color: red;
position: absolute;
top: 1px;
font-weight: bold;
}
.card .code{
font-size: 14px;
color: #0033cc;
font-weight: bold;
}
.card .info{
font-size: 10px;
color: black;
position: absolute;
bottom: 1px;
text-align: center;
}
.card .duration {
position: absolute;
left: 3px;
color: black;
font-size: 12px;
font-weight: bold;
}
.card .username-label {
font-size: 14px;
color: black;
position: absolute;
right: 10px;
font-weight: blod;
}
